<!-- <p>aboutus works!</p> -->


<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="aboutus-img" src="./aboutus.png" alt="">
            <p class="aboutus-text">About us</p>
        </div>
        <div class="col-8">
            <h2 class="aboutus-heading">Vision</h2>
            <p class="aboutus-body">
                To provide high quality take-away Indochinese food at affordable prices in convenient easy-to-eat
                hassle-free food boxes
            </p>

            <h2 class="aboutus-heading">PARTNERS PROFILE</h2>
            <p class="aboutus-body">
                The Partners have a varied background, ranging from Food & beverages, Advertising and Marketing and a
                passion for food. We strive to bring you high standards with great quality food in great packaging and
                complete value for money.
            </p>
        </div>
    </div>
</div>