.aboutus-text{
    position: relative;
    bottom: 300px;
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.aboutus-img{
    width: 340px;
}

.aboutus-heading{
    margin-top: 70px;
    padding-left: 20px;
}

.aboutus-body{
    margin-top: 30px;
    padding-left: 20px;
    width: 500px;
}