
.txtPrimary{
    color:dodgerblue;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
}

.textDanger{
    color:red;
    font-weight: 600;
    text-transform: titlecase;
    font-size: 25px;
}

.special:hover{
    transform: scale(1.05);
}