
    <!-- <p>products works!</p> -->
<div class="topList">
    <button type="button" (click)="changeButtonStage()" class="btn btn-outline-dark">Option</button>
    <div class="div" *ngIf="isButtonon ; then listitems ; else nolistitems"></div>
    <ng-template #listitems>
        <a href="" class="list-item" routerLink="/products/all">All</a>
        <a href="" class="list-item" routerLink="/products/veg">Veg</a>
        <a href="" class="list-item" routerLink="/products/nonveg">Non Veg</a>
        <a href="" class="list-item" routerLink="/products/starters">Starters</a>
        <a href="" class="list-item" routerLink="/products/drinks">Drinks</a>
    </ng-template>
    <ng-template #nolistitems>
    </ng-template>
</div>


<div class="row cardcontainer">
    <div class="col-2">
        <div class="sideList">
            <a href="" class="list-item" routerLink="/products/all">All</a>
            <a href="" class="list-item" routerLink="/products/veg">Veg</a>
            <a href="" class="list-item" routerLink="/products/nonveg">Non Veg</a>
            <a href="" class="list-item" routerLink="/products/starters">Starters</a>
            <a href="" class="list-item" routerLink="/products/drinks">Drinks</a>
        </div>
    </div>

    <div class="col-8">
        <div class="row">


            <div *ngFor="let product of productList" class="card mb-3 col-sm-6 col-xl-4 ">
                <div class="row g-0">
                    <div class="col-md-7 imgcontainer">
                        <img [src]="product.src" [alt]="product.name" class="card-image">
                    </div>
                    <div class="col-md-5 bodycontainer">
                        <div class="card-body">
                            <p class="card-title">{{product.name}}</p>
                            <p class="card-text">&#x20B9;{{product.price}}/-</p>
                            <a href="" class="text-body-secondary">know more..</a> <br>
                            <button class="btn btn-towish" (click)="addTowishlist(product)" >❣</button>
                            <button class="btn btn-tocart" (click)="addTocard(product)">🧳</button>
                            
                              
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
    <div class="col-2"></div>
</div>










<div id="customPrompt" [ngStyle]="promptStyleC">
    <p>Added to Cart</p>
</div>
<div id="customPrompt" [ngStyle]="promptStyleW">
    <p>Added to WishList</p>
</div>