<!-- <p>header works!</p> -->

<div class="headercontainer">
    <div class="row main-bar">
        <div class="col-12 col-sm-8">
            <p class="logo-text">Bejesh Restaurant<small class="logo-subtext"> since 2001</small></p>
        </div>
        <div class="col-12 col-sm-4" >
            <div class="nav-icon-group" style="float: right;">
                <button class="btn nav-icon" title="Cart" (click)="addTocard()"> 
                    🧳<small class="nav-icon-badge">&nbsp;{{currentUserCartLength}}</small>              
                </button>
                <button class="btn nav-icon" title="Wishlist" (click)="addTowishlist()" >  
                    💖<small class="nav-icon-badge">&nbsp;{{currentUserwishlistLength}}</small>                  
                </button>
                <button class="btn nav-icon" title="user" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
                    🙋‍♂️                       
                    <div class="popup" [ngStyle]="typeList">
                        <a *ngIf="!isLogged" class="popup-item " routerLink="/userloggin">Loggin</a>
                        <a *ngIf="!isLogged" class="popup-item " routerLink="/usersignup">Signup</a>
                        <button *ngIf="isLogged" class="btn btn-username">{{currentUserName}}</button> <br>
                        <button *ngIf="isLogged" class="btn btn-signout" (click)="signout()">Sign Out</button>
                    </div>
                </button> 
              
            </div>
        </div>
    </div>

    <div class="row logo-bar">
        <img class="logo" src="./logo.png" alt="">
      </div>
    

</div>