
.outercontainer1 {
    width: auto;
    height: 600px;
    border: 1px solid black;
    align-content: center;
    background-position: center;
    background-size: 100%;
}


.container1 {
    width: fit-content;
    margin: 100px auto;
}

#cyclebutton {
    display: block;
    margin: auto;
}

#cycleimage {
    height: 300px;
    border: 2px solid;
}
