/* You can add global styles to this file, and also import other style files */

.body-image {
    height: 100vh;
    width: 100vw;
    filter: blur(4px);
    position: fixed;
    bottom: 0px;
    z-index: -1;
}

