<!-- <p>nav works!</p> -->

<a href="" routerLink="angform" class="btn btn-primary m-1">Angular Form</a>
<a href="" routerLink="items" class="btn btn-primary m-1">Items</a>
<a href="" routerLink="productdash" class="btn btn-primary m-1">Productdash</a>

<a href="" routerLink="task1" class="btn btn-primary m-1" style="float: right;">Taks1</a>
<a href="" routerLink="task2" class="btn btn-primary m-1" style="float: right;">Taks2</a>
<a href="" routerLink="task3" class="btn btn-primary m-1" style="float: right;">Taks3</a>
