<!-- <p>homepage works!</p> -->


<div class="container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./homeimg1.png" class="d-block w-100 carousal-img" alt="...">
                <div class="carousal-text">
                    Passion in a Box    <br>
                    We offers you what you need in this fast paced world and busy schedule

                    Tasty South-Indian fresh food on-the-go.

                    Just pick it up from any of our outlets, strategically spread across Prime locations in Chennai,
                    Bangalore, Vizag, Pondicherry and Coimbatore and relish it on-the-go. Or just order it from the
                    comfort of your home and have it delivered at your doorstep.
                </div>
            </div>
            <div class="carousel-item">
                <img src="./homeimg2.png" class="d-block w-100 carousal-img" alt="...">
                <div  class="carousal-text">
                    The Franchisee Model <br>
                    From 2001, a franchise model has been adopted. Since then there are multiple outlets opened across
                    Chennai, Bangalore, Vizag, Pondicherry and Coimbatore.The Red Box sets up the outlet and then hands
                    it over to the franchisee along with the staff. The initial investment to open an outlet is between
                    ₹ 22 lakhs - ₹ 25 lakhs with a Return on investment at around 1.8 years. Outlets are typically 600
                    to 800 sq. ft, and they are takeaway outlets with kitchens.
                </div>
            </div>
            <div class="carousel-item">
                <img src="./homeimg3.png" class="d-block w-100 carousal-img" alt="...">
                <div  class="carousal-text">
                    Bejesh Restaurant
                    Menu
                    The menu includes a wide assortment of starters, mains, desserts and drinks including combo
                    options that serve rice/drinks with a gravy. This menu is priced between ₹35 to ₹250. The recipes
                    of these are specifically curated to manage large orders in a short span of time.
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>